/* © Karl-Erik Kald*/
div.container {

    margin: 0px;
    border: 0px solid lightblue;
    background-color: whitesmoke;
    line-height: 150%;
    min-height: 100%; 
    padding-bottom: 6.5em;
    padding-right: 5%;
    padding-left: 15%;
    position: relative;
    overflow: visible;
    clear: both;
    z-index: 1;

}
#clock, #date {
    padding-left: 2em;
}
#clock {
    font-family: 'Roboto', sans-serif;
    font-size: larger;
    font-weight: 300;
}
#date {
    font-family: 'Roboto', sans-serif;
    font-size: larger;
    font-weight: 300;
}
header, footer {
    padding-bottom: 1em;
    padding-top: 1em;    
    color: whitesmoke;
    padding-right: 0;
    padding-left: 0;
    overflow: visible;

    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    background-color: darkblue;
    width: 100%;
    box-shadow: 1px 3px 10px 1px #888888;
    z-index: 1;
    clear: both;
}
footer {
    bottom: 0px;
    position: absolute;
    height: 2.5em;
    box-shadow: 1px 3px 10px 1px #888888;


}

header {
    top: 0px;
    height: 2.5em;
    position: relative;
}
header h1 {
    padding: 0;
    margin: 0;
    padding-left: 10%;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
footer h3 {
    padding: 0;
    margin: 0;
    padding-left: 10%;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
aside {
    float: left;
    position: sticky;
    top: 4em;
    bottom: 6.5px;
    overflow: hidden;
    background-color: lavender;
    float: left;
    height: 70vh;
    margin: 0;
    padding-top: 6.5em;
    padding-right: 7.37em;
    z-index: 0;
}

main {
    /* margin-left: 190px; */
    margin-left: 15em;
    border-left: 0px solid blueviolet;
    background-color: whitesmoke;
    padding-left: 5em;
    padding-top: 2em;
    padding-bottom: 6.5em;
    /* padding-bottom: 2em; */
    /* min-height: 100%; */
    /* min-width: 80%; */
    min-height: 70vh;
    overflow: visible;
    position: static;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    z-index: 0;
}
body {
    margin: 0;
    min-height: 100%;
    min-width: 100%;
    position: absolute;
    overflow: visible;
    background-color: lavender;
    z-index: 1;
}
nav {
    z-index: 2;
    position: sticky;
    height: 2.5em;
    top: 0;
}
nav ul {
    list-style-type: none;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 10em;
    box-shadow: 1px 2px 2px 1px #888888;

    overflow: hidden;
    background-color: blueviolet;

}
h1 {
    font-weight: 300;
}
h2 {
    font-weight: 300;
}
h3 {
    font-weight: 300;
}
nav li {
    float: left;
}

nav li a {
    display: inline-block;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 400;
    font-size: larger;
    color: whitesmoke;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: plum;
}

form {
    padding-top : 2em;
    padding-left : 2em;
    padding-bottom : 2em;
    padding-right: 2em;
    margin-right: 50em;
    margin-top: 2em;
    margin-bottom: 2em;
    width: fit-content;
    background-color: lightgoldenrodyellow;
    border: 1px solid #888888;
    box-shadow: 1px 2px 3px 1px #888888;
    border-radius: 4px;

}
table {
    background-color: darkblue;
    border-spacing: 0;
    margin-right: 2em;
    padding-bottom: 0.9px;

    border-top: 1px solid darkblue;
    border-right: 1px solid darkblue;
    border-bottom: 1px solid darkblue;

}

th {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    padding-left: 1em;
    padding-right: 2em;
    font-size: large;
    color: beige;

}

td {
    background-color: aliceblue;
    border-left: 1px solid darkblue;
    padding-left: 1em;
    padding-right: 2em;
    border-top: 1px solid darkblue;

}
input[type=submit]{
    background-color: paleturquoise;
    border: solid 1px paleturquoise;
    color: black;
    border-radius: 4px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: medium;
    box-shadow: 1px 2px 3px 1px #888888;

    padding: 13px;
}
input[type=submit]:hover{
    background-color: lightblue;
    border: solid 1px lightblue;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: medium;
    cursor: pointer;
}
input[type=submit]:checked{
    background-color: lightblue;
    border: solid 1px lightblue;
    color: black;
    border-radius: 4px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: medium;
    box-shadow: 0px 0px 0px 0px #888888;

}
input[type=text] {
    margin: 2em;
    background-color: white;
    border: solid 1px #888888;
    color: black;
    border-radius: 4px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: medium;
    width: 350px;
    padding: 13px;

}
button {
    background-color: paleturquoise;
    border: solid 1px paleturquoise;
    color: black;
    border-radius: 4px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: medium;
    box-shadow: 1px 2px 3px 1px #888888;

    padding: 13px;
}
button:hover{
    background-color: lightblue;
    border: solid 1px lightblue;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: medium;
    cursor: pointer;
}

input[type=button] {
    background-color: paleturquoise;
    border: solid 1px paleturquoise;
    color: black;
    border-radius: 4px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: medium;
    box-shadow: 1px 2px 3px 1px #888888;

    padding: 13px;
}
input[type=button]:hover {
    background-color: lightblue;
    border: solid 1px lightblue;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: medium;
    cursor: pointer;
}
select {
    font-size: medium;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    padding: 13px;
    background-color: paleturquoise;
    border: solid 1px paleturquoise;
    border-radius: 4px;
    width: 250px;
    box-shadow: 1px 2px 3px 1px #888888;



}
select:hover{
    background-color: lightblue;
    border: solid 1px lightblue;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: medium;
}
option{
    background-color: whitesmoke;
    border: solid 1px white;
    border-radius: 4px;
    width: 250px;
    box-shadow: 1px 2px 3px 1px #888888;

}
option:hover {
    background-color: lightblue;
    color: wheat;
}